.feedback {
    border: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-evenly;
    box-shadow: 0px 4px 21px rgba(209, 209, 209, 0.25);
    padding: 35px;
}

.user-logo-feedback {
    display: flex;
    align-items: center;
}

.date-feedback {
    color: #70737C;
    font-size: 14px;
}

.text-user {
    margin-left: 15px;
}

.user-rainting {
    padding-top: 15px;
    padding-bottom: 15px;
}

.text-feedback {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}