.formToProduct {
    width: 50%;
    height: 500px;
    background: rgb(255, 248, 239);
}

.formRegister {
    display: flex;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    input {
        width: 300px;
        padding: 15px;
        margin: 0 auto;
    }
    textarea {
        width: 200px;
        padding: 15px;
        margin: 0 auto;
        margin-top: 15px;
    }
    button {
        width: 200px;
        padding: 10px;
        margin: 0 auto;
        margin-top: 15px;
    }
}