.catalog-block {
    width: 80%;
    margin: 0 auto;
}

.small-block {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 15px;
    align-items: center;
}

.card-nav {
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 5px;
}

.id_product {
    color: rgb(109, 204, 109);
    background-color: rgb(244, 244, 244);
    width: 33vw;
}

.products {
    display: grid;
    width: 100%;
    grid-template-columns: 24% 24% 24% 24%;
    grid-template-rows: 50% 50%;
    row-gap: 15px;
    column-gap: 15px;
}

.product {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 15px;
}

.product_name {
    font-size: 17px;
}

.safe-productaImage {
    display: flex;
    flex-direction: column;
}

.basket-product {
    border: 1px solid lightgrey;
    border-radius: 8px;
    padding: 10px;
}

.rainting {
    align-self: center;
    width: 150px;
    height: 20px;
    margin-top: 35px;
}

.heart {
    width: 25px;
    height: 25px;
    align-self: flex-end;
    background-image: url(../img/Outline-yellow.png);
    border: none;
    background-color: none;
}

.footer-card {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-top: 15px;
    align-items: center;
}

.price {
    font-size: 20px;
    font-weight: bold;
}

.sort0 {
    display: flex;
    list-style-type: none;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 20px;
}

.sort-item {
    display: flex;
    border: 1px solid lightgrey;
    height: 25px;
    border-radius: 8px;
    align-items: center;
    justify-content: space-between;
    img {
        width: 28px;
        height: 28px;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

.sort-text {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    min-width: 70px;
    padding: 5px;
    background: white;
    align-items: center;
    border: 1px solid #67AE6E;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
    &:hover {
        background: #eaf1eb;
        opacity: 1;
        transition: 0.3s;
    }
}