main {
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    align-items: center;
    box-shadow: 5px 5px 5px lightgrey;
    position: sticky;
}

.text-nav {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.nav-list {
    color: #70737C;
    list-style-type: none;
    padding-right: 15px;
    font-size: 16px;
    margin: 5px;
    width: 150px;
    border: none;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    background: none;
    &:hover {
        color: #359740;
    }
}

.search-block {
    display: flex;
    align-content: center;
    border-radius: 71px;
    border: 3px solid #EFEFEF;
    height: 25px;
    padding: 10px;
    img {
        align-content: center;
    }
    input {
        border: none;
        color: #70737C;
    }
}

#search-text {
    font-size: 16px;
    margin-top: 35px;
}

.banner {
    display: flex;
    border-radius: 24px;
    background: #eaf1ebff;
    overflow: hidden;
    width: 100%;
    margin-top: 30px;
    background-size: cover;
    height: 455px;
    h1 {
        font-weight: 600;
        font-size: 40px;
        line-height: 54px;
    }
}

.background-leafs {
    position: absolute;
    width: 80%;
    height: 455px;
    overflow: hidden;
    border-radius: 24px;
}

@keyframes sway {
    0% {
        transform: translateX(0) translateY(-100px) rotate(55deg);
    }
    25% {
        transform: translateX(30px) translateY(100px) rotate(75deg);
    }
    50% {
        transform: translateX(-30px) translateY(200px) rotate(55deg);
    }
    75% {
        transform: translateX(30px) translateY(300px) rotate(75deg);
    }
    100% {
        transform: translateX(-30px) translateY(400px) rotate(55deg);
    }
}

.background-leaf {
    width: 100px;
    height: 130px;
    transform: rotate(60deg);
    background-size: contain;
    position: relative;
    top: 0;
    z-index: 0;
    animation: sway 7s infinite linear;
    /* Анімувати незалежно падіння і хитання */
    transform-origin: center;
}

.leaf-1 {
    left: -5%;
    animation-delay: 0s;
}

.leaf-2 {
    left: 5%;
    animation-delay: 6s;
}

.leaf-3 {
    left: 15%;
    animation-delay: 8s;
}

.leaf-4 {
    left: 20%;
    animation-delay: 2s;
}

.leaf-5 {
    left: 25%;
    animation-delay: 4s;
}

.leaf-6 {
    left: 30%;
    animation-delay: 5s;
}

.leaf-7 {
    left: 35%;
    animation-delay: 6s;
}

.leaf-8 {
    left: 40%;
    animation-delay: 7s;
}

.text-banner {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    justify-content: space-between;
    float: left;
    height: 385px;
    text-align: left;
    align-content: center;
    z-index: 1;
}

.product-banner {
    width: 350px;
    height: 350px;
    margin-left: 150px;
    z-index: 1;
    align-self: center;
}

.price-banner {
    display: flex;
    justify-content: space-between;
    height: 35px;
    align-items: center;
    width: 45%;
    float: left;
}

.price-text-banner {
    font-weight: 600;
    font-size: 42px;
    line-height: 54px;
}

.grey-price-text-banner {
    font-weight: 600;
    font-size: 22px;
    line-height: 54px;
    color: #70737C;
}

.banner-button1 {
    background: #359740;
    border-radius: 8px;
    color: white;
    border: none;
    padding: 11px 33px;
}

.banner-button2 {
    padding: 11px 33px;
    background: #FFFFFF;
    border-radius: 8px;
    color: #359740;
    border: none;
}

.banner-footer {
    display: flex;
    background: url(banner-footer.png);
    margin-top: 15px;
    height: 105px;
    h2 {
        align-content: center;
    }
}

.banner-footer-text {
    text-align: center;
    align-self: center;
    margin: 0 auto;
    width: 50%;
}

.small-block {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 15px;
    align-items: center;
}